:root {
    --white: #fbf9ff;
    --light-purple: #f7e8ff;
    --purple: #b46ee5;
    --black: #432d60;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--white);
    font-family: 'Poppins', sans-serif;
    letter-spacing: -1px;
    color: var(--black);
}
.container {
    display: flex;
    position: relative;
    background: rgb(245, 232, 247);
    background-size: cover;
    background-position: left;
    height: 100vh;
    width: 100%;
    justify-content: right;
    transition: 1.5s ease;
}
.container::before {
    content: '';
    position: relative;
    align-self: center;
    height: 300px;
    width: 500px;
    left: 80px;
    bottom: 0;
    background: url(images/image2.svg) no-repeat;
    background-size: contain;
    background-position: center;
    transition: .8s;
    opacity: 1;
}
.login-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 60%;
    top: 0;
    min-width: 600px;
    transition: .8s ease;
}
.login-wrapper h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--purple);
    line-height: 40px;
}
.login-wrapper h2 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 30px;
}
.form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.form label {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 4px;
}
.form input[type='text'],
.form input[type='password'] {
    height: 50px;
    width: 300px;
    align-self: center;
    margin-bottom: 20px;
    padding: 0 20px;
    font-size: 16px;
    letter-spacing: 2px;
    color: var(--purple);
    background-color: var(--white);
    border: 2.5px solid var(--purple);
    border-radius: 20px;
    outline: none;
    transition: .3s ease;
}
.form input[type='submit'] {
    height: 50px;
    width: 150px;
    align-self: center;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--white);
    background: linear-gradient(45deg, #b46ee5, #e3b2ff);
    border-radius: 20px;
    border: none;
    outline: none;
    transition: .3s ease;
}
.form input[type='submit']:hover {
    width: 160px;
    letter-spacing: 2px;
}

/* responsive code */
/* tablet mode */
@media screen and (max-width: 1024px) {
    .container {
        background-position: center;
    }
    .container::before {
        position: absolute;
        visibility: hidden;
        bottom: -500px;
        opacity: 0;
    }
}
/* mobile mode */
@media screen and (max-width: 767px) {
    .container {
        background: url(images/image3.svg) no-repeat;
        background-position: bottom;
    }
    .login-wrapper {
        position: absolute;
        top: -50px;
        height: 80vh;
        min-width: 100%;
    }
    .container::before {
        position: absolute;
        visibility: visible;
        margin: 0 auto;
        height: 230px;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
    }
}
