{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Log in</p>
        <form method="post" class="form">
        {% csrf_token %}

          <div class="form-outline mb-3">
            <input type="text" id="username" name="username" class="form-control"
                   placeholder="Your beautiful user name"/>
            <label class="form-label" for="username"></label>
          </div>

          <div class="form-outline mb-3">
            <input type="password" id="password" name="password" class="form-control"
                   placeholder="Your secret password"/>
            <label class="form-label" for="password"></label>
          </div>

          <button type="submit" class="btn btn-primary btn-block">Log in</button>
          <br><br>
            {% for message in messages %}
            <p id="message"> {{ message }}</p>
          {% endfor %}
          <p>
            Don't have an account? <a href="{% url 'register' %}">Sign up</a>
          </p>
          </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
