{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
             class="img-fluid" alt="Doors image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
          {% for message in messages %}
              <div class="alert alert-danger">
              {{ message }}
              </div>
          {% endfor %}
        <form method="post" class="form">
        {% csrf_token %}

          <div class="form-outline mb-3">
            <input type="text" id="username" name="username" class="form-control"
                   placeholder="Your user name"/>
            <label class="form-label" for="username"></label>
          </div>

          <div class="form-outline mb-3">
            <input type="password" id="password1" name="password1" class="form-control"
                   placeholder="Your secret password"/>
            <label class="form-label" for="password1"></label>
          </div>

          <div class="form-outline mb-3">
            <input type="password" id="password2" name="password2" class="form-control"
                   placeholder="Repeat Your password"/>
            <label class="form-label" for="password2"></label>
          </div>

          <div class="form-outline mb-3">
            <input type="text" id="first_name" name="first_name" class="form-control"
                   placeholder="Your beautiful name"/>
            <label class="form-label" for="first_name"></label>
          </div>

          <div class="form-outline mb-3">
            <input type="text" id="last_name" name="last_name" class="form-control"
                   placeholder="Your charmed last name"/>
            <label class="form-label" for="last_name"></label>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Sign up</button>
          <br><br>

          <p>
            Already have an account? <a href="{% url 'user_login' %}">Log in</a>
          </p>
          </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
