{% extends 'base.html' %}

{% block content %}
  <h2>User Registration</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_login">Login:</label>
      <input type="text" name="username" id="id_login" class="form-control">
    </div>
    <div class="form-group">
      <label for="id_mail">Email:</label>
      <input type="email" name="email" id="id_mail" class="form-control">
    </div>
    <div class="form-group">
      <label for="id_password">Password:</label>
      <input type="password" name="password1" id="id_password" class="form-control">
    </div>
    <div class="form-group">
      <label for="id_password_confirm">Confirm password:</label>
      <input type="password" name="password2" id="id_password_confirm" class="form-control">
    </div>
    <div class="form-group">
      <label for="id_first_name">First Name:</label>
      <input type="text" name="first_name" id="id_first_name" class="form-control">
    </div>
    <div class="form-group">
      <label for="id_last_name">Last Name:</label>
      <input type="text" name="last_name" id="id_last_name" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
{% endblock %}