{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="container">
      <div class="login-wrapper">
        <h1>Python Interview Challenger</h1>
        <h2>please register here</h2>
        <form method="post" action="" class="form">
          {% csrf_token %}
          <label for="username">username</label>
            {{ form.username }}
          <label for="password">password</label>
            {{ form.password1 }}
          <label for="password2">repeat password</label>
            {{ form.password2 }}
          <label for="">first name</label>
            {{ form.first_name }}
          <label for="">last name</label>
            {{ form.last_name }}
          <input type="submit" value="submit" />
        </form>
        {% if error_message %}
          <p class="error">{{ error_message }}</p>
        {% endif %}
        {% for message in messages %}
            <p id="messages">{{ message }}</p>
        {% endfor %}
          <p>
            Already have an account? <a href="{% url 'login' %}">Sign in</a>
          </p>
      </div>
    </section>
{% endblock %}
