{% extends 'base.html' %}
{% load static %}

{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{#    <h2>Register</h2>#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <button type="submit">Register</button>#}
{#    </form>#}
{#{% endblock %}#}

<!DOCTYPE html>
{% block content %}
<html lang="en">
  <head>
    <title>Python Interviev Challanger</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <<link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>

  <body>
    <section class="container">
      <div class="login-wrapper">
        <h1>Python Interviev Challange</h1>
        <h2>please register here</h2>
        <form method="post" action="" class="form">
            {% csrf_token %}
          <label for="username">username</label>
          <input type="text" id="username" />
          <label for="password">password</label>
          <input type="password" id="password" />
          <label for="password2">password2</label>
          <input type="password" id="password2" />
          <label for="password">email</label>
          <input type="password" id="password" />
          <label for="password">first name</label>
          <input type="password" id="first_name" />
          <label for="password">last name</label>
          <input type="password" id="last_name" />
          <input type="submit" value="submit" />
        </form>
          {{ form.errors }}
          Already have an account? <a href="{% url 'login' %}">Sign in</a>
      </div>
    </section>
  </body>
</html>
{% endblock %}
