{% load static %}

<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}"{% endif %}>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HollyMovies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container fixed">
        <a class="navbar-brand" href="{% url 'index' %}">Python Interviev Challenger</a>
        <button
                class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'index' %}">
                    Home
                </a>

            </div>
        </div>
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'admin:index' %}">
                Admin
            </a>
        </div>
    </div>
</nav>
 <section class="header">
        <div class="nav-bar">
            <div class="logo">
                <a href="{%url 'index' %}">
                    <img src="{% static 'viewer/images/logo_125x50.png' %}" alt="the Movies logo">
                </a>
            </div>

{#            <div class="nav-bar-r">#}
{#                <ul>#}
{#                {% if request.user.is_authenticated %}#}
{#                    <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>#}
{#                {% else %}#}
{#                    <li><a href="{% url 'login' %}?next={{request.path}}">Sign in</a></li>#}
{#                    <li><a href="{% url 'register' %}">Register</a></li>#}
{#                {% endif %}#}
{#                </ul>#}
{#            </div>#}
        </div>

        </section>
        <section class="container">
        <div class="jumbotron">
            {% block content %}

            {% endblock %}
        </div>
        </section>
    <section class="footer">
        <span>Python Interview Challenger</span> <span>2023</span>
    </section>
    </body>
</html>
