{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
  </head>

  <body>
    <section class="container">
      <div class="login-wrapper">
        <h1>Welcome to the</h1>
        <h2>Python Interview Challenger</h2>
        <h3>click the button to start the quiz</h3>
        <form action="{% url 'quiz' %}" class="form">
          <input type="submit" value="start" />
        </form>
      </div>
    </section>
  </body>
</html>
{% endblock %}
