{% block content %}
    <input type="checkbox" id="check" />
    <label for="check" class="checkbtn">
    <i class="bx bx-menu"></i>
    </label>
    <label class="logo">Python Interviev Challanger</label>
    <ul>
        <li class="greet">Hello, {{ request.user }} !</li>
        <li><a href="{% url 'home' %}">Home</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'add_question' %}">Add question</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Sign in</a></li>
            <li><a href="{% url 'register' %}">Sign up</a></li>
        {% endif %}
    </ul>
{% endblock %}
