<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Python Interviev Challanger</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  </head>

  <body>
    <header>
      <nav>
        <input type="checkbox" id="check" />
        <label for="check" class="checkbtn">
          <i class="bx bx-menu"></i>
        </label>
        <label class="logo">Python Interviev Challanger</label>
        <ul>
          <li><a href="{% url 'home' %}">home</a></li>
          <li><a href="{% url 'login' %}">sign in</a></li>
          <li><a href="{% url 'register' %}">sign up</a></li>
        </ul>
      </nav>
    </header>
  </body>

  <head>
    <title>Python Interview Challenger</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
  </head>

  <body>
    <section class="container">
      <div class="login-wrapper">
        <h1>Welcome to the</h1>
        <h2>Python Interview Challenger</h2>
        <h3>click the button to start the quiz</h3>
        <form action="{% url 'quiz' %}" class="form">
          <input type="submit" value="start" />
        </form>
      </div>
    </section>
  </body>
</html>