<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Interview Challenger</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>

{#  <body>#}
{#    <section class="container">#}
{#      <div class="login-wrapper">#}
{#        <h1>Welcome to the</h1>#}
{#        <h2>Python Interview Challenger</h2>#}
{#        <h3>click the button to start the quiz</h3>#}
{#        <form action="{% url 'quiz' %}" class="form">#}
{#          <input type="submit" value="start" />#}
{#        </form>#}
{#      </div>#}
{#    </section>#}
{#  </body>#}
</html>